build_web/
Makefile
android/xscreensaver/res/drawable/*.png
android/xscreensaver/res/values/
android/xscreensaver/res/xml/
config.h
config.log
config.status
driver/XScreenSaver.ad
driver/demo-Gtk-resources.c
driver/wayland-protocols/*.o
driver/xscreensaver.desktop
driver/xscreensaver.pam
driver/xscreensaver.service
driver/*.o
hacks/[a-z]*
!hacks/glx/
hacks/glx/[a-z]*
!hacks/glx/*.?
!hacks/*.?
hacks/*.o
hacks/glx/*.o
utils/*.o
po/POTFILES
