# -*-tcl-*-
#
# Template file for gettext.tcl
#
# By: YOKOTA Hiroshi <yokota@netlab.is.tsukuba.ac.jp>

# $Id: language.tcl.tmpl,v 1.2 2000/07/31 03:36:10 elca Exp $

#settext "Wizard configure" "Wizard configure"
#settext "Font Options""Font Options"

#settext "OK"        "OK"
#settext "Configure" "Configure"
#settext "Abort"     "Abort"

#settext "Make"         "Make"
#settext "Make Install" "Make Install"
#settext "Exit"         "Exit"
#settext "Go back"      "Go back"

#settext "Do you really want to launch configure?" "Do you really want to launch configure?"
#settext "Launch Configure" "Launch Configure"

#settext -Adobe-Courier-Bold-R-Normal-*-140-* -Adobe-Courier-Bold-R-Normal-*-140-*

#settext "File"  "File"
#settext "Color" "Color"
#settext "Font"  "Font"

#settext "ABCDEFGHIJKabedfghijkmnopq12345" "ABCDEFGHIJKabedfghijkmnopq12345"

#settext "wizard configure xlockmore" "wizard configure xlockmore"
#settext "This should help you to build xlockmore" "This should help you to build xlockmore"

#settext "without gcc    " "without gcc    "
#settext "with-purify    " "with-purify    "
#settext "without motif  " "without motif  "
#settext "without editres" "without editres"
#settext "without xpm    " "without xpm    "
#settext "without opengl " "without opengl "
#settext "without mesagl " "without mesagl "
#settext "without dtsaver" "without dtsaver"
#settext "without dpms   " "without dpms   "

#settext "Wizard configure image path" "Wizard configure image path"
#settext "please enter the image path" "please enter the image path"

#settext "Bitmap dir" "Bitmap dir"
#settext "Pixmaps dir" "Pixmaps dir"
#settext "sound player program" "sound player program"
#settext "enable syslog logging      " "enable syslog logging      "
#settext "enable multiple users      " "enable multiple users      "
#settext "enable multiple root users " "enable multiple root users "
#settext "enable unstable            " "enable unstable            "

#settext "Wizard configure include and library path" "Wizard configure include and library path"
#settext "Please enter the path" "Please enter the path"

#settext "path of X include          " "path of X include          "
#settext "path of X library          " "path of X library          "
#settext "user executables in        " "user executables in        "
#settext "system admin executables in" "system admin executables in"
#settext "program executables in     " "program executables in     "
#settext "info documentation in      " "info documentation in      "
#settext "man documentation in       " "man documentation in       "
#settext "find the sources in        " "find the sources in        "

#settext "Wizard configure language" "Wizard configure language"
#settext "Please choice your language " "Please choice your language "

#settext "Dutch   " "Dutch   "
#settext "English " "English "
#settext "French  " "French  "
#settext "German  " "German  "
#settext "Japanese" "Japanese"

#settext "< Previous" "< Previous"
#settext "Next >"     "Next >"

# end
