#include <windows.h>
#include <scrnsave.h>
#include "xlock95.h"

STRINGTABLE
BEGIN
  IDS_DESCRIPTION "xlock95 Screen Saver"
END

ICON_APP	ICON	DISCARDABLE	"xlock.ico"

DLG_SCRNSAVECONFIGURE DIALOG 6, 18, 250, 120
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "xlock95 Screen Saver setup"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX    "Mode",         MODE_BOX,      5, 10, 80, 105
    LISTBOX                     MODE_LIST,    10, 20, 70, 100, WS_VSCROLL|LBS_USETABSTOPS
 
    GROUPBOX    "",	        DESC_LABEL,    90, 10, 80, 80
    LTEXT       "Delay",	DELAY_LABEL,  100, 20, 20, 10
    LTEXT       "", 		DELAY_TEXT,   130, 20, 20, 10
    LTEXT       "Count",	COUNT_LABEL,  100, 30, 20, 10
    LTEXT       "", 		COUNT_TEXT,   130, 30, 20, 10
    LTEXT       "Cycles",	CYCLES_LABEL, 100, 40, 20, 10
    LTEXT       "", 		CYCLES_TEXT,  130, 40, 20, 10
    CHECKBOX    "Enabled",      ENABLE_BUTTON,100, 50, 40, 10

    PUSHBUTTON    "OK",     IDOK,     200, 20, 40, 14
    PUSHBUTTON    "Cancel", IDCANCEL, 200, 60, 40, 14
END
